STAGE/
venv/
.venv/
public/
resources/
.hugo_build.lock
public/
**/.DS_Store
iss-passes.json
__pycache__/
*.pyc
node_modules/
scripts/assets/CometEls.txt
scripts/starmaps/finder_charts/stars.bigksy.0.1.3.mag16.parquet
