body { 
    font-family: sans-serif !important; 
    background-color: #fff;
}

/* Force header height reduction */
.vh-100 { min-height: 25vh !important; }
.pv4-l { padding-top: 2rem !important; padding-bottom: 2rem !important; }

/* Force header height reduction for v0.0.12 */
.cover {
    min-height: 30vh !important;
}
.pv4-l, .pv5-l {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.vh-100 { min-height: 250px !important; height: 250px !important; }
.cover { min-height: 250px !important; }
