{{ define "main" }}
{{ with resources.Get "css/galleries.css" | minify }}
  <link rel="stylesheet" href="{{ .RelPermalink }}">
{{ end }}

<article class="nbas-article">
    
    <!-- 1. ABOVE TITLE: Feature -->
    {{ with .Params.feature }}
    <div class="article-series-label">
        {{ . }}
    </div>
    {{ end }}

    <h1 class="article-title">{{ .Title }}</h1>

<!-- 2. BELOW TITLE: Author & Date (REPAIRED) -->
<div class="article-metadata">
  <span>By 
    {{ if .Params.authors }}
      {{ range $index, $author := .Params.authors }}
        {{ if $index }}, {{ end }}<a href="/authors/{{ $author | urlize }}/">{{ $author | humanize | title }}</a>
      {{ end }}
    {{ else if .Params.author }}
      <a href="/authors/{{ .Params.author | urlize }}/">{{ .Params.author | humanize | title }}</a>
    {{ else }}
      NBAS Staff
    {{ end }}
  </span> | 
  <time datetime="{{ .Date.Format "2006-01-02" }}">
    {{ if not .Date.IsZero }}{{ .Date.Format "January 2, 2006" }}{{ else }}Date TBD{{ end }}
  </time>
</div>



    <!-- 3. BYLINE: Italicized with a subtle left border -->
    {{ with .Params.byline }}
    <div class="article-byline">
        {{ . }}
    </div>
    {{ end }}

    <hr class="article-separator">

    <!-- 4. ACTUAL CONTENT -->
    <div class="article-body">
        {{ .Content }}
    </div>

</article>
{{ end }}

