<!-- V0.19.2: FULL STABLE SIDEBAR -->
<aside class="nbas-sidebar">
    <div class="sidebar-top">
        <h3 class="sidebar-heading">Next Meeting</h3>
        <p id="next-meeting-text" class="meeting-highlight">Loading</p>
        <p class="meeting-details">6 PM | North Adams Public Library</p>
        <a href="https://google.com" target="_blank" class="external-link">View on Google Maps</a>
    </div>
    
    <hr class="sidebar-divider">
    
    <div class="sidebar-widgets">
        <div class="search-widget widget-box">
            <h3 class="sidebar-heading">Search Archive</h3>
            <div id="search"></div>
        </div>

        <h3 class="sidebar-heading">Calendar</h3>
        {{ partial "unified-events.html" . (now.Format "2006-01-02") }}

	<div class="widget-box">
	    <h3 class="sidebar-heading">Solar System</h3>
            {{ partial "ssd-widget.html" . }}
        </div>

        {{ partial "weather-widget.html" . }}

        {{ partial "aurora-widget.html" . }}

	{{ partial "iss-passes.html" . }}

        <div class="widget-box">
            <h3 class="sidebar-heading">Tonight's Sky</h3>
            {{ partial "sky-widget.html" . }}
        </div>

        <div class="moon-widget widget-box">
            <h3 class="sidebar-heading">Moon Phase</h3>
            {{ partial "moon-widget.html" . }}
        </div>

	{{ partial "seeing-widget.html" . }}


	{{ partial "apod-widget.html" . }}


    </div>
</aside>

