<aside class="constellation-info-box">
  <header class="info-box-header">
    <h4>{{ .Title }} Profile</h4>
  </header>

<table class="info-box-table">
  {{ range .Params.profile_stats }}
    <tr>
      <th>{{ .label }}:</th>
      <td>{{ .value }}</td>
    </tr>
  {{ else }}
    {{/* This will show if the array is empty or unreadable */}}
    <tr><td colspan="2" style="color:red;">DATA ERROR: profile_stats not found</td></tr>
  {{ end }}
</table>

  <div class="info-box-highlights">
    <h5>Objects of Interest</h5>
    <table class="highlights-table">
      <thead>
        <tr><th>Object</th><th>Type</th><th>Equip.</th></tr>
      </thead>
      <tbody>
        {{ range .Params.highlights }}
        <tr>
          <td><strong>{{ .name }}</strong></td>
          <td>{{ .type }}</td>
          <td>{{ .using }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</aside>
