<div class="card-feature-icon">
  {{ $img := "" }}
  {{ if .Params.thumbnail }}
    {{ $img = .Resources.GetMatch .Params.thumbnail }}
  {{ end }}

  {{ if $img }}
    {{/* 1. CUSTOM THUMBNAIL (Hand-picked for this article) */}}
    {{ $thumb := $img.Fill "120x120 Center" }}
    <img src="{{ $thumb.RelPermalink }}" class="article-thumb">
  {{ else }}
    {{/* 2. SERIES OR DEFAULT ICON */}}
    {{ $icon := "comet" }}
    
    {{ if eq .Params.series "Constellation" }}{{ $icon = "constellation" }}
    {{ else if eq .Params.series "Newsletter" }}{{ $icon = "telescope" }}
    {{ else if eq .Params.series "Solar System" }}{{ $icon = "saturn" }}
    {{ else if eq .Params.series "Stars" }}{{ $icon = "star" }}
    {{ else if eq .Params.series "Deep Sky" }}{{ $icon = "galaxy" }}
    {{ else if eq .Params.series "Imaging" }}{{ $icon = "camera" }}
    {{ else if eq .Params.series "Event" }}{{ $icon = "moon" }}
    {{ else if eq .Params.series "NBAS" }}{{ $icon = "logo" }}

    {{ end }}

    {{ partial (printf "icons/%s.html" $icon) . }}
  {{ end }}
</div>
