<div class="card-feature-icon">
  {{ $img := "" }}
  {{ if .Params.thumbnail }}
    {{ $img = .Resources.GetMatch .Params.thumbnail }}
  {{ end }}

  {{ if $img }}
    {{/* 1. CUSTOM THUMBNAIL (Hand-picked for this article) */}}
    {{ $thumb := $img.Fill "120x120 Center" }}
    <img src="{{ $thumb.RelPermalink }}" class="article-thumb">
  {{ else }}

	{{/* 2. SERIES OR DEFAULT ICON */}}
	{{ $icon := "logo" }} {{/* Default fallback */}}
	{{ $s := .Params.series }}

	{{ if in $s "constellation-highlights" }}{{ $icon = "constellation" }}
	{{ else if in $s "nbas-newsletter" }}{{ $icon = "telescope" }}
	{{ else if in $s "nbas-announcement" }}{{ $icon = "star" }}
	{{ else if in $s "nbas-events" }}{{ $icon = "moon" }}
	{{ end }}

{{ partial (printf "icons/%s.html" $icon) . }}
{{ end }}
</div>
