<nav class="nbas-topnav">
    <div class="nav-item"><a href="/">Home</a></div>
    <div class="nav-item nbas-dropdown">
        <button class="dropbtn">Club ▾</button>
        <div class="dropdown-content">
            <a href="/categories/newsletters/">Newsletters</a>
            <a href="/categories/events/">Events</a>
            <a href="/categories/announcements/">Announcements</a>
        </div>
    </div>
    <div class="nav-item"><a href="/library/">Library</a></div>
    <div class="nav-item"><a href="/articles/">Recent</a></div>
    <div class="nav-item"><a href="/series/">Series</a></div>
    <div class="nav-item"><a href="/tags/">Tags</a></div>
    <div class="nav-item"><a href="/constellations/">Constellations</a></div>
    <div class="nav-item nbas-dropdown">
        <button class="dropbtn">Catalog ▾</button>
        <div class="dropdown-content">
            <a href="/catalogs/messier/">Messier</a>
            <a href="/catalogs/caldwell/">Caldwell</a>
            <a href="/catalogs/ngc/">NGC</a>
        </div>
    </div>
    <div class="nav-item nbas-dropdown">
        <button class="dropbtn">Solar System ▾</button>
        <div class="dropdown-content">
            <a href="/solarsystem/moon/">The Moon</a>
            <a href="/solarsystem/planets/">Planets</a>
        </div>
    </div>
</nav>

