{{ $currentTime := now.Format "2006-01-02" }}
{{ range (where .Site.RegularPages "Section" "newsflash").ByWeight }}
    {{ $start := substr .Params.start_date 0 10 }}
    {{ $end := substr .Params.end_date 0 10 }}
    {{ if and (ge $currentTime $start) (le $currentTime $end) }}
      <div class="bulletin-panel">
          <div class="bulletin-content">
              <span class="bulletin-label">NEWSFLASH</span>
              <span class="bulletin-text">{{ .Content | plainify }}</span>
          </div>
      </div>
    {{ end }}
{{ end }}

