<div class="news-container">
  {{ range first 5 (where .Site.RegularPages "Section" "articles") }}
    <div class="news-item" style="margin-bottom: 20px;">
      {{ $author := .Params.author }}
      {{ if reflect.IsSlice $author }}{{ $author = index $author 0 }}{{ end }}
      <h3 style="margin-bottom: 5px;"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      <div style="color: #666; font-size: 0.85rem;">
        By {{ $author | default "NBAS Staff" }} | {{ .Date.Format "Jan 2, 2006" }}
      </div>
    </div>
  {{ end }}
</div>
