{{ $featured_image := .Params.featured_image | default .Site.Params.featured_image }}
<header style="background: black url({{ if $featured_image }}{{ $featured_image | absURL }}{{ end }}) no-repeat center 45%; background-size: cover; height: 300px; position: relative; color: white;">
  <div style="background: rgba(0,0,0,0.6); height: 100%; width: 100%;">
    {{ partial "site-navigation.html" . }}
    <div style="text-align: center; padding-top: 40px;">
      <h1 style="font-size: 3rem; margin: 0;">{{ .Title | default .Site.Title }}</h1>
      {{ with .Params.description }}
        <p style="font-style: italic; font-size: 1.25rem; margin-top: 10px;">{{ . }}</p>
      {{ end }}
    </div>
  </div>
</header>