<div class="sky-widget-container">
    <div class="responsive-iframe-wrap ratio-sky">
        <iframe src="https://virtualsky.lco.global/embed/index.html?longitude=-73.11&latitude=42.70&projection=stereo&constellations=true&constellationlabels=true&live=true" 
                class="virtual-sky-frame" 
                scrolling="no">
        </iframe>
    </div>
    <div class="widget-footer">
        <a href="https://virtualsky.lco.global/embed/index.html?longitude=-73.11&latitude=42.70&projection=stereo&constellations=true&constellationlabels=true&live=true" 
           target="_blank" 
           class="external-link">
           [ ⛶ Expand to Fullscreen ]
        </a>
    </div>
</div>
