{{ define "main" }}
    {{/* 1. ANNOUNCEMENT & WELCOME SECTION */}}
    <div class="welcome-hero">
        {{ partial "news_logic.html" . }}
        <div class="welcome-text">
            {{ .Content }}
        </div>
    </div>

    {{/* 2. ARTICLE LIST SECTION */}}
    <h2 class="section-title">Latest from the NBAS</h2>
    
    <div class="article-list">
        {{ range first 5 (where .Site.RegularPages "Section" "articles").ByPublishDate.Reverse }}
            {{ partial "article-card.html" . }}
        {{ end }}
    </div>
{{ end }}

