{{ define "main" }}
  <div class="mw8 center ph3 pv4">
    <header class="bb b--light-gray pb3 mb4">
      <h1 class="f2 lh-title fw9 mb2 mt0">{{ .Title }}</h1>
      <div class="flex-ns items-center f6 gray">
        <div class="mr4-ns mb2 mb0-ns">📍 <b>Meeting:</b> North Adams Public Library</div>
        <div class="mr4-ns mb2 mb0-ns">🕒 <b>When:</b> 1st Wednesday @ 6:00 PM</div>
      </div>
    </header>
    <main>
      <div class="f5 lh-copy mb5">{{ .Content }}</div>
      {{ partial "recent_articles.html" . }}
    </main>
  </div>
{{ end }}
