{{ define "main" }}
  <div class="flex-l mw9 center ph3 ph5-ns pv4">
    <main class="w-100 w-70-l pr4-l">
      {{ partial "recent_articles.html" . }}
    </main>
    <aside class="w-100 w-30-l pl4-l bl-l b--moon-gray">
      <div class="f6 lh-copy mb4">
        {{ .Content }}
      </div>
      <div id="sidebar-links" class="mt4 bt pt3 b--light-gray">
        <h4 class="f6 ttu tracked gray">Quick Links</h4>
        <ul class="list pl0 f6">
          <li class="mv2"><a href="/about" class="link blue hover-dark-blue">About</a></li>
          <li class="mv2"><a href="/contact" class="link blue hover-dark-blue">Contact</a></li>
          <li class="mv2"><a href="/library" class="link blue hover-dark-blue">Library</a></li>
        </ul>
      </div>
    </aside>
  </div>
{{ end }}
