{{ define "main" }}
<article class="nbas-article">
    <header class="article-header">
        {{ with .Params.series }}
            <div class="article-series-label">{{ . }}</div>
        {{ end }}

        <h1 class="article-title">{{ .Title }}</h1>

        {{ with .Params.byline }}
            <p class="article-byline">{{ . }}</p>
        {{ end }}

        <div class="article-metadata">
            {{ $authorPage := $.Site.GetPage (printf "/authors/%s" (.Params.author | urlize)) }}
            By 
            {{ if $authorPage }}
                <a href="{{ $authorPage.RelPermalink }}" class="author-link">{{ $authorPage.Title }}</a>
            {{ else }}
                {{ .Params.author }}
            {{ end }} 
            <span class="meta-pipe">|</span>
            <time>{{ .PublishDate.Format "January 2, 2006" }}</time>
        </div>
    </header>

    <div class="article-body">
        {{ .Content }}
    </div>

    {{/* RELATED ARTICLES SECTION (Goal 1.8) */}}
    {{ $related := .Site.RegularPages.Related . | first 3 }}
    {{ with $related }}
    <section class="related-articles">
        <h3 class="related-heading">Related Articles</h3>
        <div class="related-list">
            {{ range . }}
                <div class="related-item">
                   <a href="{{ .RelPermalink }}" class="related-link">{{ .Title }}</a>
                   <div class="related-date">{{ .PublishDate.Format "Jan 2, 2006" }}</div>
                </div>
            {{ end }}
        </div>
    </section>
    {{ end }}
</article>
{{ end }}

