{{ $css := resources.Get "css/astro-dashboard.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">

<div class="astro-controls">
    <h3>Active Observation Time: <span id="current-obs-time">Now</span></h3>
    <input type="datetime-local" id="astro-time-picker" class="astro-input">
    <button onclick="window.getAstroData()" class="btn-astro">Update Positions</button>
</div>

<div class="astro-panel-container">
    <div class="astro-panel">
        <h4 class="panel-title">Planetary Positions</h4>
        <div class="table-wrapper" id="planetary-dashboard-target"></div>
    </div>
    <div class="astro-panel">
        <h4 class="panel-title">Jupiter's Galilean Moons</h4>
        <div class="table-wrapper" id="jupiter-moons-target"></div>
    </div>
</div>

<script>window.exports = window.exports || {}; window.Astronomy = window.exports;</script>
<script src="/js/astronomy.min.js" defer></script>
{{ $js := resources.Get "js/astro-logic.js" | minify | fingerprint }}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
